.squareContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.square {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}

#teal {
  background-color: teal;
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}
